extends index.pug

block content
  .main-content.row
    .col-md-4
      .social-box
        h2.text-center Connect with me!
        .social-icons
          a(href="#") 
            i.fab.fa-linkedin
          a(href="#")
            i.fab.fa-twitter-square
          a(href="#")
            i.fas.fa-envelope-square
        br
        br
        
        h2.text-center Download resume
        .resume-icon
          a(href="#")
            i.fas.fa-download
    .col-md-8
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet cupiditate delectus dolorum dignissimos at distinctio. Quisquam eligendi explicabo amet nemo perspiciatis voluptatum et sed nam ipsam, praesentium illum consequatur.